.custom-container {
    padding-right: 110px;
    padding-left: 110px !important;
    /* margin-left: auto;
    margin-right: auto; */
}

viewport.top-to-bottom {
    margin: 0;
}

.tm-hometabcontent {
    float: right;
}
.tm-hometabcontent {
    text-align: center;
    width: 100%;
    clear: both;
    margin: 20px 0 25px;
    position: relative;
}

.static-block-top {
    margin-bottom: 61px;
}

.padding-left {
    padding-left: 0!important;
}


/* .col-md-3 {
    float: left;
    width: 25%;
} */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* .col-md-5 {
    float: left;
    width: 41.66667%;
} */
.padding-right {
    padding-right: 0!important;
}

.col-md-4 {
    float: left;
    width: 33.33333%;
}

.block-top-home {
    border: 2px solid #ED2229;
    border-radius: 20px;
    padding: 15px 20px;
    /* height: 87px; */
}

.text-static-block {
    font: bold 14px/21px Poppins;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-static-block {
    font: normal normal bold 14px/21px Poppins;
    letter-spacing: 0;
    color: #2E2E2E;
}

.social-media>span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.margin-left-15 {
    margin-left: 15px;
}

img {
    vertical-align: middle;
}
img {
    border-style: none;
}

.flex-contact-text {
    justify-content: center;
}

.flex-contact-text, .flex-contact {
    display: flex;
    align-items: center;
}

.tel-flex {
    margin-left: 5px;
}

a {
    color: #000 !important;
    text-decoration: none;
}
.margin-right-15 {
    margin-right: 15px;
}

.cart-promo {
    margin-top: 88px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.img-100 {
    width: 100%;
}
